body {
  padding-top: 60px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
#cancel {
  margin-left: 10px;
}
footer {
  padding-left: 110px;
  padding-right: 110px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
#toast-container {
  top: 140px;
}
#order {
  width: 150px;
}
#search {
  top: 10px;
}
#nolist {
  list-style-type: none;
}
.chat-btn {
  width: 100px;
  position: absolute;
  top: 20px;
}
.oneUser {
  background-color: #f6f6f6;
}
#search-btn:hover {
  background-color: #06f;
}
ul.nav.navbar-nav li:hover {
  background-color: #06f;
}
.userContainer {
  background-color: #eee;
  font-size: 20px;
  font-family: "Tahoma", Tahoma, Geneva, sans-serif;
  margin-left: 15px;
  width: 1366px;
  height: 1280px;
}
.info {
  background-color: #69f;
}
.details {
  background-color: #fff;
}
#userNames {
  margin-left: 10px;
  margin-top: 10px;
}
#post-form {
  resize: none;
}
#post-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.profileImg {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 7px;
  margin-top: 7px;
}
.profileData {
  display: inline-block;
  vertical-align: top;
}
