body {
  padding-top: 60px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
#cancel {
  margin-left: 10px;
}
footer {
  padding-left: 110px;
  padding-right: 110px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
#toast-container {
  top: 140px;
}
#order {
  width: 150px;
}
#search {
  top: 10px;
}
#nolist {
  list-style-type: none;
}
.chat-btn {
  width: 100px;
}
.oneUser {
  background-color: #f6f6f6;
}
#search-btn:hover {
  background-color: #06f;
}
ul.nav.navbar-nav li:hover {
  background-color: #06f;
}
.userContainer {
  background-color: #eee;
  font-size: 20px;
  font-family: "Tahoma", Tahoma, Geneva, sans-serif;
  margin-left: 15px;
  width: 1366px;
  height: 3000px;
}
.suppContainer {
  width: 1196px;
  height: 648px;
  background-color: #eee;
}
.info {
  background-color: #69f;
}
.details {
  background-color: #fff;
}
#userNames {
  margin-left: 10px;
  margin-top: 10px;
}
#post-form {
  resize: none;
}
.post-form {
  resize: none;
}
#post-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.profileImg {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 7px;
  margin-top: 7px;
}
.profileData {
  display: inline-block;
  vertical-align: top;
}
.fixedSizePic {
  width: 180px;
  height: 210px;
}
.noListStyle {
  list-style-type: none;
}
.wrapPost {
  margin: 30px;
  border: 1px solid #000;
}
.profileMsg {
  margin: 20px;
  background-color: #f8f8f8;
}
@media (max-width: 980px) {
  .friendsBlock {
    width: 820px;
  }
  .infoBlock {
    width: 850px;
  }
  .leftPannel {
    width: 800px;
  }
  .rightPannel {
    width: 800px;
    margin-left: 0px;
    margin-top: 50px;
    padding: 5px;
    float: left;
  }
}
@media (max-width: 720px) {
  .friendsBlock {
    width: 520px;
  }
  .infoBlock {
    width: 550px;
  }
  .photosBlock {
    width: 550px;
  }
  .leftPannel {
    width: 600px;
  }
  .rightPannel {
    width: 600px;
    margin-left: 0px;
    margin-top: 50px;
    padding: 5px;
    float: left;
  }
}
@media (max-width: 540px) {
  .friendsBlock {
    width: 420px;
  }
  .infoBlock {
    width: 450px;
  }
  .photosBlock {
    width: 450px;
  }
  .leftPannel {
    width: 470px;
  }
  .rightPannel {
    width: 470px;
    margin-left: 0px;
    margin-top: 50px;
    padding: 5px;
    float: left;
  }
}
@media (max-width: 360px) {
  .friendsBlock {
    width: 220px;
  }
  .infoBlock {
    width: 250px;
  }
  .photosBlock {
    width: 250px;
  }
  .leftPannel {
    width: 200px;
  }
  .rightPannel {
    width: 280px;
    margin-left: 0px;
    margin-top: 50px;
    padding: 5px;
    float: left;
  }
}
.changedPanel {
  padding: 0px;
  margin: 0px;
}
.tabs {
  margin: 0px;
  padding: 0px;
}
.tabs:hover {
  background-color: #e8e8e8;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-image: url("background.jpg");
}
#the-plane {
  display: none;
}
