body
  padding-top:60px

.navbar-right .navbar-form
  input
    margin-right 10px
  a.btn
    margin-left 10px

#cancel
  margin-left 10px

footer
  padding-left 110px
  padding-right 110px
  p
    border-top 1px solid #808080
    padding-top 10px

#toast-container
  top 140px

#order
  width 150px

#search
  top 10px

#nolist
  list-style-type none

.chat-btn
  width 100px
  position absolute
  top 20px

.oneUser
  background-color #F6F6F6

#search-btn
  font-size 25px
  position absolute
  top 15px
  right 120px

#search-btn:hover
  background-color #0066FF

ul.nav.navbar-nav li:hover
  background-color #0066FF