.container
    #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
    input#field(style='width:350px;')
    input#send(type='button', value='send')
script(src='/socket.io/socket.io.js')
script.
    var messages = [];
    var socket = io.connect('http://linkmenet.herokuapp.com/#/chat');
    var field = document.getElementById("field");
    var sendButton = document.getElementById("send");
    var content = document.getElementById("content");
        socket.on('message', function (data) {
        if(data.message) {
            messages.push(data.message);
            var html = '';
            for(var i=0; i<messages.length; i++) {
                html +=  messages[i] + '<br />';
            }
            content.innerHTML = html;
        } else {
            console.log("There is a problem:", data);
        }
    });
        sendButton.onclick = function() {
        var text = field.value;
        socket.emit('send', { message: text });
        field.value = '';
    };