.userContainer
    .col-md-4
        img.profileImg(src="{{ identity.currentUser.profilePic }}" , width="50px" , height="50px")
        .profileData {{ identity.currentUser.firstName }} {{ identity.currentUser.lastName }}
        textarea#post-form.form-control(rows="4" , placeholder="Share to world of LinkMe")
        button#post-btn.btn.btn-primary.pull-right Link
        ul
            li(ng-repeat="user in users")
                .postdate {{user.post.date}}
                .postbody {{ user.post.body }}