.userContainer
    .col-md-4
        img.profileImg(src="{{ identity.currentUser.profilePic }}" , width="50px" , height="50px")
        .profileData {{ identity.currentUser.firstName }} {{ identity.currentUser.lastName }}
        textarea#post-form.form-control(rows="4" , placeholder="Share to world of LinkMe", ng-model='activity.body')
        button#post-btn.btn.btn-primary.pull-right(ng-click="addpost(activity)") Link
        textarea(ng-model="activity.userId") {{ identity.currentUser.firstName }}
        br
        br
        br
        ul.noListStyle
            li(ng-repeat="post in activity | orderBy: '-date'")
                .postBody {{ post.body }} on {{ post.date | date: 'dd MMM h:mm'}} from {{ post.userId }}
