.navbar-right(ng-controller="LoginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control(type="text" placeholder="Username" ng-model="user.username")
            input.form-control(type="password" placeholder="Password" ng-model="user.password")
            button(type="button" class="button blue center" ng-click="login(user)") Login
            a(href="#/signup" style=" text-decoration: none;")
                button(type"button" class="button green center") Sign Up
    #userInfo
        img#userImg(src="{{ identity.currentUser.profilePic }}" , ng-show="identity.isAuthenticated()")
        ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
            li.dropdown
                a.dropdown-toggle(href="", data-toggle="dropdown")
                    #profileData {{ identity.currentUser.firstName + ' ' + identity.currentUser.lastName }}
                    span.caret
                ul.dropdown-menu
                    li(ng-show="identity.isAuthenticated()")
                        a(href='#/profile') Profile Settings
                    li
                        a(href="#" ng-click="logout()") Sign Out
