.container
    .suppContainer
        .col-md-5
            .panel.panel-primary.changedPanel
                    .panel-heading.text-center Support
                    .panel-body
                        .tabs
                            h3 Teodor Hanev
                            h4 Creator of LinkMe
                            hr
                        .tabs
                            h3 Email:
                            h4 tedko_97@abv.bg
                            hr
                        .tabs
                            h3 Other projects:
                            a(href="https://github.com/DareDev1l/Airplane") Airplane Game